.btn.btn-close {
  float: right;
}

mat-form-field {
  width: 100%;
}

.form-control.code {
  height: 200px;
}

textarea {
  min-height: 200px;
  max-height: 200px;
}

.mat-dialog-actions {
  float: right;
}
