<ul class="nav nav-tabs mb-5">
  <li class="nav-item">
    <span class="nav-link active" aria-current="page">Messages</span>
  </li>
</ul>
<form>
  <div class="row">
    <div class="col">
      <input type="text"
             placeholder="Pick one user"
             aria-label="Login"
             class="form-control"
             (keyup.enter)="goToChat()"
             matInput
             [(ngModel)]="input"
             [formControl]="formControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let login of filteredLogins | async | slice : 0 : 4" [value]="login">
          {{login}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="col-10">
      <button type="submit" class="btn btn-primary mb-3" (click)="goToChat()">Go to chat</button>
    </div>
  </div>
</form>
<div *ngIf="!isNoData">
  <h1 class="text-center text-muted" style="margin-top:148px"> There are no massages for you</h1>
</div>
<div class="list-group">
  <div *ngIf="isDataLoaded" class="row justify-content-md-center gy-2">
    <div *ngFor="let messagesMap of messagesMapArray" class="col-8">
      <a
        routerLink="/messages/{{messagesMap[1][messagesMap[1].length - 1].owner == account.login ? messagesMap[1][messagesMap[1].length - 1].receiver : messagesMap[1][messagesMap[1].length - 1].owner}}/chat"
        class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{messagesMap[0]}}</h5>
          <small>{{timeService.timeAgo(messagesMap[1][messagesMap[1].length - 1].sendDate)}}</small>
        </div>
        <p class="mb-1">{{messagesMap[1][messagesMap[1].length - 1].text}}</p>
      </a>
    </div>
  </div>
</div>
